@{
    ViewBag.Title = "About";
}

    <div id="content_alt">
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
        <h1>@ViewBag.Title.</h1>


        <div class="row">
            <style>

                .col-md-2 {
                    width: 40%;
                }
            </style>
            <div class="col-md-2">
                <p>
                    Lifebrands, Inc. is a food and beverage wholesaler who engages in high volume sales. Our nutritional foods and beverages are of high-quality and are sold to high end retailers who re-sale them through grocery chains and other retail outlets to the public.
                </p>

            </div>

            <div class="col-md-2">

                <p><img class="center" style="height: 300px; width: 500px;" src="/image1.jpeg" alt="" /></p>
            </div>
        </div>

    </div>




