
@{
    ViewBag.Title = "Logout";
    
}

<h2>Logout</h2>

<div class="row">
    <style>

        .col-md-2 {
            width: 40%;
        }
    </style>
    <div class="col-md-2">
        <h1>@ViewBag.Title.</h1>

        <p>
            Are you sure you want to <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>? 
        </p>

    </div>

    <div class="col-md-2">

        <p><img src="/image2.jpeg" style="width: 500px; height: 400px; margin-top: 40px;" alt="" /></p>
    </div>
</div>