
@{ ViewBag.Title = "Vendor";
}

<h2>Vendor</h2>

<div>
    <table id="VendorjqGrid"></table>
    <div id="VendorjqControls"></div>
</div>
@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Vendor.script.js"></script>

}